* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #eee;
  display: flex;
  justify-content: center;
}

.overlay {
  margin: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  background: #FF5F7E;
  min-height: 60vh;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.left,
.right {
  flex: 1;
  padding: 40px;
}


.left {
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-content {
  text-align: center;
}

.left-content h1 {
  color: #142F43;
}

.left-content p {
  color: #333;
}


.image-placeholder {
  width: 100%;
  height: 100%;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}
