* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #eeeeee;
}

.navbar {
    width: 100%;
    background: #142F43;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FF5F7E;
}


.overlay {
    margin: 60px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    background: #142F43;
    min-height: 60vh;
    width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.left,
.right {
    padding: 40px;
}

.left {
    flex: 1 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.left-content h1 {
    color: #FF5F7E;
    font-size: 55px;
    font-family: "Courier New", monospace;
}

.left-content p {
    color: #fff;
    font-family: "Courier New", monospace;
}

.right {
    flex: 0 0 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art-image {
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {

    .left,
    .right {
        flex: 1 1 100%;
        text-align: center;
    }

    .art-image {
        max-width: 90%;
    }
}