* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.left-content {
  text-align: center;
}

.right {
  flex: 1;
  padding: 40px;
}
.image-placeholder {
  width: 100%;
  height: 100%;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}